## Task 01:

Print Your Name with your Father name and Date of birth using suitable escape sequence charactor

In [ ]:
print("Name: Abdul Moid Siddique Father Name: Muhammad Mustafa Khurshid DOB: 07-Aug-2005")

Name: Abdul Moid Siddique Father Name: Muhammad Mustafa Khurshid DOB: 07-Aug-2005

# Task 02:

Write your small bio using variables and print it using print function

In [ ]:
name = "Abdul Moid Siddique"
father_name = "Muhammad Mustafa Khurshid"
age = 18
nationality = "Pakistani"
religion= "Islam"
degree = "B.E in Industrial and Manufacturing Engineering" 
university = "NED University of Engineering & Technology"
hobbies = "playing cricket, gym, online researching, programming"

print("Name:", name)
print("FatherName:", father_name)
print("age:", age)
print("nationality:", nationality)
print("religion:", religion)
print("degree:", degree)
print("university:", university)
print("hobbies:", hobbies)

Name: Abdul Moid Siddique
FatherName: Muhammad Mustafa Khurshid
age: 18
nationality: Pakistani
religion: Islam
degree: B.E in Industrial and Manufacturing Engineering
university: NED University of Engineering & Technology
hobbies: playing cricket, gym, online researching, programming

# Task 03:

Write a program in which use all the operators we can use in Python

In [13]:
a = 3
b = 9

print("Addition:", a + b)
print("subtraction:", a - b)
print("division:", a / b)
print("multiplication:", a * b)
print("square:", a*a)
print("AND:", (a > 5) and (b < 10))
print("OR:", (a < 5) and (b < 10))
print("NOT:", a==b)

Addition: 12
subtraction: -6
division: 0.3333333333333333
multiplication: 27
square: 9
AND: False
OR: True
NOT: False

# Task 04:


1. Mention Marks of English , Islamiat and Maths out of 100 in 3 different variables

2. Mention Variable of Total Marks and assign 300 to it

3. Calculate Percentage

In [21]:
English = 90
Islamiat = 80
Maths = 85

Total_Scored_Marks = 250
Total_Marks = 300

percentage = (Total_Scored_Marks / Total_Marks) * 100
print("Percentage: ", percentage)

Percentage:  83.33333333333334